@mixin Desktop {
  @media(min-width: 990px) {
    @content
  }
}

.fixed-position {
  width: 90%;
  left: 5%;
  @include Desktop() {
    left: auto;
  }
}

.user-main {
  margin-top: 250px;
  @include Desktop() {
    margin-top: 120px;
  }
}

.my-itinerary-mask {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  &:hover .my-itinerary-text {
    display: none;
  }
  &:hover .my-itinerary-btn {
    display: flex;
  }
}

.my-itinerary-text {
  display: flex;
}

.my-itinerary-btn {
  display: none;
}